<div class="container-fluid align-items-center" style="margin-top:10vh;">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="col-sm-12 d-flex">
      <div class="card " style="margin:auto;">
        <div class="card-header text-center mb-4">

          <h4><img src="assets/logo.png" style="width:60px;">demoTrack</h4>
        </div>
        <div class="card-body form-group">
          <mat-form-field style="width:100%" appearance="outline">
            <mat-label for="usr">User ID</mat-label>
            <input matInput type="text" placeholder="User ID" formControlName="username" id="usr" required/>
            <mat-error *ngIf="this.loginForm.get('username').hasError('required')">Please Enter Username !</mat-error>

          </mat-form-field>
          <mat-form-field style="width:100%;" appearance="outline">
            <mat-label for="pwd">Password</mat-label>
            <input matInput type="password" style="width:80%" placeholder="Password" formControlName="password" id="pwd"
                   required/>
            <button style="float: right;" mat-icon-button type="button" (click)="show()">
              <mat-icon>remove_red_eye</mat-icon>
            </button>
            <mat-error *ngIf="this.loginForm.get('password').hasError('required')">Please Enter Password !</mat-error>
          </mat-form-field>
          <div style="text-align: center;color: red;align-self: center;" *ngIf="error">{{error}}</div>
        </div>
        <div class="card-footer text-center">
          <button type="submit" style="width:100%" class="btn btn-success">Login</button>
        </div>
      </div>
    </div>
  </form>
</div>
<div id="overlay" style="justify-content: center; align-items: center; height: 100vh">
  <span id="nav" *ngIf="loginProgress">
    <div class="spinner-border text-secondary">
    </div>
  </span>
  &nbsp;
  <span id="nav1" *ngIf="loginProgress">
    <div class="submit-message" style="color: white;">
      <b>Logging In...</b>
    </div>
  </span>
</div>
