<div class="container-fluid align-items-center" style="margin-top:2vh;">
  <form [formGroup]="demoFeedback" (ngSubmit)="onSubmit()">
    <div class="col-sm-12 d-flex">
      <mat-card class="card" style="border: thick black;margin: auto;">
        <mat-card-header style="justify-content: center">
          <mat-card-title>Demo Feedback</mat-card-title>
        </mat-card-header>
        <hr/>
        <mat-card-content style="text-align: left;">
          <div [hidden]="!applicationSupportEngineerTab">
            <div style="text-align: left;">
              <h6><u>Application Support Engineer</u></h6>
            </div>
            <div class="container p-3 border">
              <div>1.) Was the Application Support Engineer well dressed and groomed ?</div>
              <br/>
              <mat-radio-group formControlName="aseDressCode" aria-label="Select an option" required>
                <mat-radio-button value="Yes">Yes</mat-radio-button> &nbsp;&nbsp;
                <mat-radio-button value="No">No</mat-radio-button>
              </mat-radio-group>
              <mat-error
                *ngIf="this.demoFeedback.get('aseDressCode').hasError('required') && this.demoFeedback.touched">
                Please Select an Option
              </mat-error>
            </div>
            <div class="container p-3 border">
              <div>2.) Rate the Technical Knowledge of Application Support Engineer</div>
              <star-rating matInput value="3" totalstars="5" checkedcolor="gold" uncheckedcolor="grey" size="30px"
                           readonly="false" (rate)="onRateAseTechnicalKnowledge($event)"></star-rating>
            </div>
            <div class="container p-3 border">
              <div>3.) Rate the Clinical Knowledge of Application Support Engineer</div>
              <star-rating matInput value="3" totalstars="5" checkedcolor="gold" uncheckedcolor="grey" size="30px"
                           readonly="false" (rate)="onRateAseClinicalKnowledge($event)"></star-rating>
            </div>
            <div class="container p-3 border">
              <div>4.) Did the Application Specialist prepare the site for Demo ?</div>
              <br/>
              <mat-radio-group formControlName="demoSitePrepared" aria-label="Select an option" required>
                <mat-radio-button value="Yes">Yes</mat-radio-button> &nbsp;&nbsp;
                <mat-radio-button value="No">No</mat-radio-button>
              </mat-radio-group>
              <mat-error
                *ngIf="this.demoFeedback.get('demoSitePrepared').hasError('required') && this.demoFeedback.touched">
                Please Select an Option
              </mat-error>
            </div>
            <div class="container p-3 border">
              <div>5.) Rate the Application Support Engineer's customer handling capability</div>
              <star-rating matInput value="3" totalstars="5" checkedcolor="gold" uncheckedcolor="grey" size="30px"
                           readonly="false" (rate)="onRateAseCustomerHandling($event)"></star-rating>
            </div>
          </div>
          <div [hidden]="applicationSupportEngineerTab">
            <div style="text-align: left;">
              <h6><u>Demo</u></h6>
            </div>
              <div class="container p-3 border">
                <div>1.) Rate the Ambiance of the Reference Site</div>
                <star-rating matInput value="3" totalstars="5" checkedcolor="gold" uncheckedcolor="grey" size="30px"
                             readonly="false" (rate)="onRateSiteAmbiance($event)"></star-rating>
              </div>
              <div class="container p-3 border">
                <div>2.) Rate the Product (based on How well did the customer liked/preferred the product)</div>
                <star-rating matInput value="3" totalstars="5" checkedcolor="gold" uncheckedcolor="grey" size="30px"
                             readonly="false" (rate)="onRateProduct($event)"></star-rating>
              </div>
              <div class="container p-3 border">
                <div>3.) Was the Customer convinced from Demo ?</div>
                <br/>
                <mat-radio-group formControlName="customerConvinced" aria-label="Select an option" required>
                  <mat-radio-button value="Yes">Yes</mat-radio-button> &nbsp;&nbsp;
                  <mat-radio-button value="No">No</mat-radio-button>
                </mat-radio-group>
                <mat-error
                  *ngIf="this.demoFeedback.get('customerConvinced').hasError('required') && this.demoFeedback.touched">
                  Please Select an Option
                </mat-error>
            </div>
            <br/>
            <div>
              <mat-form-field style="width:100%" appearance="outline">
                <mat-label>Feedback</mat-label>
                <textarea matInput type="text" placeholder="Feedback" formControlName="feedback" id="feedback"
                          required></textarea>
                <mat-error *ngIf="this.demoFeedback.get('feedback').hasError('required')">Please Enter Feedback !
                </mat-error>
                <mat-error *ngIf="this.demoFeedback.get('feedback').hasError('minlength')">Please Enter at least 10
                  Characters !
                </mat-error>
                <mat-error *ngIf="this.demoFeedback.get('feedback').hasError('maxlength')">Maximum Length Exceeded !
                </mat-error>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field style="width:100%" appearance="outline">
                <mat-label>Comment</mat-label>
                <textarea matInput type="text" placeholder="Comment" formControlName="comment" id="comment"
                          required></textarea>
                <mat-error *ngIf="this.demoFeedback.get('comment').hasError('required')">Please Enter Feedback !
                </mat-error>
                <mat-error *ngIf="this.demoFeedback.get('comment').hasError('minlength')">Please Enter at least 10
                  Characters !
                </mat-error>
                <mat-error *ngIf="this.demoFeedback.get('comment').hasError('maxlength')">Maximum Length Exceeded !
                </mat-error>
              </mat-form-field>
            </div>

          </div>
            <div style="text-align: center;color: red;align-self: center;" *ngIf="error">{{error}}</div>
        </mat-card-content>
        <hr/>
        <mat-card-actions style="text-align: center">
          <button *ngIf="!applicationSupportEngineerTab" type="button" class="btn btn-secondary" (click)="toggle()">Back
          </button>&nbsp;
          <button *ngIf="applicationSupportEngineerTab" type="button" class="btn btn-success" (click)="toggle()">
            Next
          </button>&nbsp;
          <button *ngIf="!applicationSupportEngineerTab" type="submit" class="btn btn-success">Submit</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </form>
</div>

<div id="overlay" style="justify-content: center; align-items: center; height: 100vh">
  <span id="nav" *ngIf="saveInProgress">
    <div class="spinner-border text-secondary">
    </div>
  </span>
  &nbsp;
  <span id="nav1" *ngIf="saveInProgress">
    <div class="submit-message" style="color: white;">
      <b>Saving...</b>
    </div>
  </span>
</div>
