<div id="topNav" class="navbar navbar-expand-sm bg-dark navbar-dark">
  <img src="assets/logo.png" style="width:45px;">
  <a class="navbar-brand" [routerLink]="['/']">demoTrack</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"
          [attr.aria-expanded]="isExpanded" (click)="toggle()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [ngClass]='{"show": isExpanded}' id="collapsibleNavbar">
    <ul class="nav navbar-nav">
      <li (click)="toggle()" *ngIf="currentUser && (currentUser.role==='Sales' || currentUser.role==='Admin')"
          class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" [routerLink]="['/demoForm']">Request a Demo</a>
      </li>
      <li (click)="toggle()" *ngIf="currentUser" class="nav-item" [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" [routerLink]="['/demoRequests']">Demo Requests</a>
      </li>
      <li (click)="toggle()" *ngIf="currentUser" class="nav-item" [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" [routerLink]="['/demoHistory']">Demo History</a>
      </li>
      <li (click)="toggle()" *ngIf="currentUser && currentUser.role==='Admin'" class="nav-item"
          [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" [routerLink]="['/addUser']">Add New User</a>
      </li>
      <li (click)="toggle()" *ngIf="currentUser && currentUser.role==='Admin'" class="nav-item"
          [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" [routerLink]="['/addProduct']">Add New Product</a>
      </li>
    </ul>
    <div *ngIf="currentUser" class="ml-auto">
      <button (click)="logout();toggle()" class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
    </div>
  </div>
</div>
