<?xml version='1.0' encoding='utf-8'?>
<widget id="com.tcs.cma.yash.demotrack" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>demoTrack</name>
    <description>
        demoTrack, an application for demo tracking for a utility industry.
    </description>
     <author email="yashjain0898@gmail.com" href="http://cordova.io">
        Yash Jain
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <icon src="src/favicon.ico" />
        <preference name="AndroidPersistentFileLocation" value="Compatibility" />
        <preference name="AndroidExtraFilesystems" value="files,cache, sdcard, cache-external, files-external" />
        <allow-intent href="market:*" />
        <allow-intent href="*://demo-track.azurewebsites.net/*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
