<div id="dash" class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mb-3 border-bottom">
  <h1 class="h2">Demo Requests</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <button type="button" class="btn btn-sm btn-outline-secondary" (click)="ExportTOExcel()">Export</button>&nbsp;
  </div>
</div>
<div>
  <p *ngIf="loading"><em>Loading...</em></p>
  <div class="container-fluid align-items-center">

    <div #TABLE class="body-content">
      <mat-form-field style="width:100%;">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter"/>
      </mat-form-field>
      <mat-table mat-table [dataSource]="dataSource" matSort matSortActive="requestNumber" matSortDisableClear matSortDirection="desc">

        <ng-container matColumnDef="requestNumber">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> <h6> <kbd> Request # </kbd> </h6> </th>
          <td mat-cell *matCellDef="let group"> {{group.requestNumber}} </td>
        </ng-container>

        <ng-container matColumnDef="requestTimestamp">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> <h6> <kbd> Request TimeStamp </kbd> </h6> </th>
          <td mat-cell *matCellDef="let group"> {{group.requestTimestamp}} </td>
        </ng-container>

        <ng-container matColumnDef="requesterUserId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> <h6> <kbd> Requester EMP# </kbd> </h6> </th>
          <td mat-cell *matCellDef="let group"> {{group.requesterUserId}} </td>
        </ng-container>

        <ng-container matColumnDef="requesterName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> <h6> <kbd> Requester Name </kbd> </h6> </th>
          <td mat-cell *matCellDef="let group"> {{group.requesterName}} </td>
        </ng-container>

        <ng-container matColumnDef="customerName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> <h6> <kbd> Customer Name </kbd> </h6> </th>
          <td mat-cell *matCellDef="let group"> {{group.customerName}} </td>
        </ng-container>

        <ng-container matColumnDef="customerEmail">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> <h6> <kbd> Customer Email </kbd> </h6> </th>
          <td mat-cell *matCellDef="let group"> {{group.customerEmail}} </td>
        </ng-container>

        <ng-container matColumnDef="customerLocation">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> <h6> <kbd> Customer Location </kbd> </h6> </th>
          <td mat-cell *matCellDef="let group"> {{group.customerLocation}} </td>
        </ng-container>

        <ng-container matColumnDef="customerBusinessLine">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> <h6> <kbd> Customer Business Line </kbd> </h6> </th>
          <td mat-cell *matCellDef="let group"> {{group.customerBusinessLine}} </td>
        </ng-container>
        <ng-container matColumnDef="contactPersonName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> <h6> <kbd> Contact Person's Name </kbd> </h6> </th>
          <td mat-cell *matCellDef="let group"> {{group.contactPersonName}} </td>
        </ng-container>

        <ng-container matColumnDef="contactPersonEmail">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> <h6> <kbd> Contact Person's Email </kbd> </h6> </th>
          <td mat-cell *matCellDef="let group"> {{group.contactPersonEmail}} </td>
        </ng-container>

        <ng-container matColumnDef="productGroup">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> <h6> <kbd> Product Group </kbd> </h6> </th>
          <td mat-cell *matCellDef="let group"> {{group.productGroup}} </td>
        </ng-container>

        <ng-container matColumnDef="productLine">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> <h6> <kbd> Product Line </kbd> </h6> </th>
          <td mat-cell *matCellDef="let group"> {{group.productLine}} </td>
        </ng-container>

        <ng-container matColumnDef="product">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> <h6> <kbd> Product </kbd> </h6> </th>
          <td mat-cell *matCellDef="let group"> {{group.product}} </td>
        </ng-container>

        <ng-container matColumnDef="demoSite">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> <h6> <kbd> Demo Site </kbd> </h6> </th>
          <td mat-cell *matCellDef="let group"> {{group.demoSite}} </td>
        </ng-container>

        <ng-container matColumnDef="demoDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> <h6> <kbd> Demo Date </kbd> </h6> </th>
          <td mat-cell *matCellDef="let group"> {{group.demoDate}} </td>
        </ng-container>

        <ng-container matColumnDef="demoSlot">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> <h6> <kbd> Demo Slot </kbd> </h6> </th>
          <td mat-cell *matCellDef="let group"> {{group.demoSlot}} </td>
        </ng-container>

        <ng-container matColumnDef="numberOfGuests">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> <h6> <kbd> Number of Guests </kbd> </h6> </th>
          <td mat-cell *matCellDef="let group"> {{group.numberOfGuests}} </td>
        </ng-container>

        <ng-container matColumnDef="demoExpectation">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> <h6> <kbd> Demo Expectation </kbd> </h6> </th>
          <td mat-cell *matCellDef="let group"> {{group.demoExpectation}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> <h6> <kbd> Status </kbd> </h6> </th>
          <td mat-cell *matCellDef="let group"> {{group.status}} </td>
        </ng-container>


        <tr style="height: auto;" class="table-dark text-nowrap" mat-header-row *matHeaderRowDef="displayedColumns;sticky:true;"></tr>
        <tr mat-row *matRowDef="let row;let even = even; columns: displayedColumns;" (click)="openDialog(row.id)" [ngClass]="{gray: even}"></tr>
      </mat-table>
      <mat-paginator #paginator style="background-color:transparent;" [showFirstLastButtons]="true" [pageSize]="dataSource.data.length" [pageSizeOptions]="[dataSource.data.length,5, 10, 25, 100]"></mat-paginator>
    </div>
  </div>
</div>
<div id="overlay" style="justify-content: center; align-items: center; height: 100vh">
  <span id="nav" *ngIf="saveInProgress">
    <div class="spinner-border text-secondary">
    </div>
  </span>
  &nbsp;
  <span id="nav1" *ngIf="saveInProgress">
    <div class="submit-message" style="color: white;">
      <b>Processing...</b>
    </div>
  </span>
</div>
