<div class="container" style="margin-top:2vh;">
  <form [formGroup]="demoRequest" (ngSubmit)="onSubmit()">
    <mat-card style="border: black;border-width: thick;">
      <mat-card-header style="justify-content: center">
        <mat-card-title>Request for a Demo</mat-card-title>
      </mat-card-header>
      <hr/>
      <mat-card-content style="text-align: center">
        <div style="text-align: left;">
          <h6><u>Customer Details</u></h6>
        </div>
        <div>
          <mat-form-field style="width:45%" appearance="outline">
            <mat-label>Customer Name</mat-label>
            <input matInput type="text" placeholder="Customer Name" formControlName="customerName" id="customerName"
                   required/>
            <mat-error *ngIf="this.demoRequest.get('customerName').hasError('required')">Please Enter Company Name !
            </mat-error>
          </mat-form-field>
          &nbsp;&nbsp;
          <mat-form-field style="width: 45%" appearance="outline">
            <mat-label>Customer Email</mat-label>
            <input matInput type="input" placeholder="Customer Email" formControlName="customerEmail" id="customerEmail"
                   required/>
            <mat-error *ngIf="this.demoRequest.get('customerEmail').hasError('required')">Please Enter Company Email !
            </mat-error>
            <mat-error *ngIf="this.demoRequest.get('customerEmail').hasError('email')">Invalid Email !</mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field style="width:45%;" appearance="outline">
            <mat-label>Customer Location</mat-label>
            <input matInput type="text" placeholder="Customer Location" formControlName="customerLocation"
                   id="customerLocation" required/>
            <mat-error *ngIf="this.demoRequest.get('customerLocation').hasError('required')">Please Enter Customer
              Location !
            </mat-error>
          </mat-form-field>
          &nbsp;
          <mat-form-field style="width:45%;" appearance="outline">
            <mat-label>Customer Business Line</mat-label>
            <input matInput type="text" placeholder="Customer Business Line" formControlName="customerBusinessLine"
                   id="customerBusinessLine" required/>
            <mat-error *ngIf="this.demoRequest.get('customerBusinessLine').hasError('required')">Please Enter Industry
              Type !
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field style="width:45%" appearance="outline">
            <mat-label>Contact Person's Name</mat-label>
            <input matInput type="text" placeholder="Contact Person's Name" formControlName="contactPersonName"
                   id="contactPersonName" required/>
            <mat-error *ngIf="this.demoRequest.get('contactPersonName').hasError('required')">Please Enter Contact
              Person's Name !
            </mat-error>
          </mat-form-field>
          &nbsp;&nbsp;
          <mat-form-field style="width:45%" appearance="outline">
            <mat-label>Contact Person's Email ID</mat-label>
            <input matInput type="text" placeholder="Contact Person's Email ID" formControlName="contactPersonEmail"
                   id="contactPersonEmail" required/>
            <mat-error *ngIf="this.demoRequest.get('contactPersonEmail').hasError('required')">Please Enter Contact
              Person's Email ID !
            </mat-error>
            <mat-error *ngIf="this.demoRequest.get('contactPersonEmail').hasError('email')">Invalid Email !</mat-error>
          </mat-form-field>
        </div>
        <hr/>
        <div style="text-align: left;">
          <h6><u>Product Details</u></h6>
        </div>
        <div>
          <mat-form-field style="width:45%" appearance="outline">
            <mat-label>Product Group</mat-label>
            <mat-select style="text-align-last:center;" matInput type="text" placeholder="Product Group"
                        formControlName="productGroup" id="productGroup" (selectionChange)="productGroupSelected()"
                        required>
              <mat-option value="">---Select Product Group---</mat-option>
              <mat-option *ngFor="let prod of productGroups"
                          [value]="prod"> {{prod}}</mat-option>
            </mat-select>
            <mat-error *ngIf="this.demoRequest.get('productGroup').hasError('required')">Please Select a Product Group
              !
            </mat-error>
          </mat-form-field>
          &nbsp;&nbsp;
          <mat-form-field style="width:45%" appearance="outline">
            <mat-label>Product Line</mat-label>
            <mat-select style="text-align-last:center;" matInput type="text" placeholder="Product Line"
                        formControlName="productLine" id="productLine" (selectionChange)="productLineSelected()"
                        required>
              <mat-option value="">---Select Product Line---</mat-option>
              <mat-option *ngFor="let prod of productLines" [value]="prod"> {{prod}}</mat-option>
            </mat-select>
            <mat-error *ngIf="this.demoRequest.get('productLine').hasError('required')">Please Select a Product Line !
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field style="width:45%" appearance="outline">
            <mat-label>Product</mat-label>
            <mat-select style="text-align-last:center;" matInput type="text" placeholder="Product"
                        formControlName="product" id="product" required>
              <mat-option value="">---Select Product---</mat-option>
              <mat-option *ngFor="let prod of products" [value]="prod"> {{prod}}</mat-option>
            </mat-select>
            <mat-error *ngIf="this.demoRequest.get('product').hasError('required')">Please Select a Product !
            </mat-error>
          </mat-form-field>
          &nbsp;
          <div style="display: inline-block;width:45%"></div>
        </div>
        <hr/>
        <div style="text-align: left;">
          <h6><u>Demo Details</u></h6>
        </div>
        <div>
          <mat-form-field style="width:45%" appearance="outline">
            <mat-label>Demo Date</mat-label>
            <input matInput formControlName="demoDate"
                   [matDatepicker]="demoDatepicker" (focus)="demoDatepicker.open()" required readonly/>
            <mat-datepicker-toggle matSuffix [for]="demoDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #demoDatepicker [disabled]="false"></mat-datepicker>
            <mat-error *ngIf="this.demoRequest.get('demoDate').hasError('required')">Please Select Demo Date !
            </mat-error>
          </mat-form-field>
          &nbsp;
          <div fxLayout="row wrap" fxLayoutAlign="space-evenly center" style="width:45%;display: inline-block;">
            <mat-radio-group formControlName="demoSlot" aria-label="Select an Slot" required>
              <mat-radio-button value="Morning Slot 9:00am to 1:00am"></mat-radio-button>
              <span>Morning Slot 9:00am to 1:00pm</span>
              &nbsp;&nbsp;
              <mat-radio-button value="Afternoon Slot 2:00pm to 6:00pm"></mat-radio-button>
              <span>Afternoon Slot 2:00pm to 6:00pm</span>
            </mat-radio-group>
          </div>
        </div>
        <div>
          <mat-form-field style="width:45%" appearance="outline">
            <mat-label>Demo Site</mat-label>
            <input matInput type="text" placeholder="Demo Site" formControlName="demoSite"
                   id="demoSite" required/>
            <mat-error *ngIf="this.demoRequest.get('demoSite').hasError('required')">Please Enter a Demo Site !
            </mat-error>
          </mat-form-field>
          &nbsp;&nbsp;
          <mat-form-field style="width:45%" appearance="outline">
            <mat-label>Number of Guests</mat-label>
            <input matInput type="number" placeholder="Number of Guests" formControlName="numberOfGuests"
                   id="numberOfGuests" required/>
            <mat-error *ngIf="this.demoRequest.get('numberOfGuests').hasError('required')">Please Enter Number of Guests
              !
            </mat-error>
            <mat-error *ngIf="this.demoRequest.get('numberOfGuests').hasError('min')">Atleast 1 Guest should be there
              for Demo !
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field style="width:91.5%" appearance="outline">
            <mat-label>Demo Expectation</mat-label>
            <textarea matInput type="text" placeholder="Demo Expectation" formControlName="demoExpectation"
                      id="demoExpectation" required></textarea>
            <mat-error *ngIf="this.demoRequest.get('demoExpectation').hasError('required')">Please Enter Demo
              Expectation !
            </mat-error>
            <mat-error *ngIf="this.demoRequest.get('demoExpectation').hasError('minlength')">Please Enter at least 10
              Characters !
            </mat-error>
            <mat-error *ngIf="this.demoRequest.get('demoExpectation').hasError('maxlength')">Maximum Length Exceeded !
            </mat-error>
          </mat-form-field>
        </div>
        <div style="text-align: center;color: red;align-self: center;" *ngIf="error">{{error}}</div>
      </mat-card-content>
      <hr/>
      <mat-card-actions style="text-align: center">
        <button type="submit" class="btn btn-success">Submit</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
<div id="overlay" style="justify-content: center; align-items: center; height: 100vh">
  <span id="nav" *ngIf="saveInProgress">
    <div class="spinner-border text-secondary">
    </div>
  </span>
  &nbsp;
  <span id="nav1" *ngIf="saveInProgress">
    <div class="submit-message" style="color: white;">
      <b>{{overlayMessage}}...</b>
    </div>
  </span>
</div>
