<div class="container-fluid align-items-center" style="margin-top:2vh;">
  <form [formGroup]="addUser" (ngSubmit)="onSubmit()">
    <div class="col-sm-12 d-flex">
      <mat-card class="card" style="border: thick black;margin: auto;">
        <mat-card-header style="justify-content: center">
          <mat-card-title>Add New User</mat-card-title>
        </mat-card-header>
        <hr/>
        <mat-card-content style="text-align: center">
          <div>
            <mat-form-field style="width:100%" appearance="outline">
              <mat-label>User ID</mat-label>
              <input matInput type="text" placeholder="User ID" formControlName="username" id="username" required/>
              <mat-error *ngIf="this.addUser.get('username').hasError('required')">Please Enter a Username !</mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field style="width:100%" appearance="outline">
              <mat-label>Name</mat-label>
              <input matInput type="text" placeholder="Name" formControlName="name" id="name" required/>
              <mat-error *ngIf="this.addUser.get('name').hasError('required')">Please Enter User's Name !</mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field style="width:100%" appearance="outline">
              <mat-label>Email ID</mat-label>
              <input matInput type="text" placeholder="Email ID" formControlName="email" id="email" required/>
              <mat-error *ngIf="this.addUser.get('email').hasError('required')">Please Enter User's Email !</mat-error>
              <mat-error *ngIf="this.addUser.get('email').hasError('email')">Invalid Email !</mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field style="width:100%" appearance="outline">
              <mat-label>Role</mat-label>
              <mat-select style="text-align-last:center;" matInput type="text" placeholder="Role" formControlName="role" id="role" required>
                <mat-option value="">---Select a Role---</mat-option>
                <mat-option value="Sales">Sales</mat-option>
                <mat-option value="Approver">Approver</mat-option>
                <mat-option value="Admin">Admin</mat-option>
              </mat-select>
              <mat-error *ngIf="this.addUser.get('username').hasError('required')">Please Select a Role !</mat-error>
            </mat-form-field>
          </div>
          <div style="text-align: center;color: red;align-self: center;" *ngIf="error">{{error}}</div>
        </mat-card-content>
        <hr/>
        <mat-card-actions style="text-align: center">
          <button type="submit" class="btn btn-success">Add User</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </form>
</div>

<div id="overlay" style="justify-content: center; align-items: center; height: 100vh">
  <span id="nav" *ngIf="saveInProgress">
    <div class="spinner-border text-secondary">
    </div>
  </span>
  &nbsp;
  <span id="nav1" *ngIf="saveInProgress">
    <div class="submit-message" style="color: white;">
      <b>Saving...</b>
    </div>
  </span>
</div>
